    <%= error_messages_for(@page) %> 

    <table summary="Page form fields">
      <tr>
        <th><%= f.label(:subject_id, "Subject") %> </th>
        <td><%= f.select(:subject_id, @subjects.map {|s| [s.name, s.id]}) %></td>
      </tr>
      <tr>
        <th><%= f.label(:name, "Name") %> </th> <!-- like label for in forms--> 
        <td><%= f.text_field(:name) %></td>
      </tr>
      <tr>
        <th><%= f.label(:permalink) %> </th>
        <td><%= f.text_field(:permalink) %></td>
      </tr>
      <tr>
        <th><%= f.label(:position) %> </th>
        <td><%= f.select(:position, 1..@page_count) %></td>
      </tr>
      <tr>
        <th><%= f.label(:visible) %> </th>
        <td><%= f.check_box(:visible) %></td>
      </tr>
    </table>

<!--@page_count explained on subject -->
<!-- map is a ruby function that lets us go through each on of these items --> 
    

    <!-- previous form-->

<!-- <table summary="Page form fields">
      <tr>
        <th>Subject ID</th>
        <td><%= f.text_field(:subject_id) %></td>
      </tr>
      <tr>
        <th>Name</th>
        <td><%= f.text_field(:name) %></td>
      </tr>
      <tr>
        <th>Permalink</th>
        <td><%= f.text_field(:permalink) %></td>
      </tr>
      <tr>
        <th>Position</th>
        <td><%= f.text_field(:position) %></td>
      </tr>
      <tr>
        <th>Visible</th>
        <td><%= f.text_field(:visible) %></td>
      </tr>
    </table> -->