<!DOCTYPE html>
<html>
  <head>
    <title> Blogging Platform<%= " | #{@page_title}" if @page_title %></title>
    <%= stylesheet_link_tag('application', :media => 'all') %>
  </head>
  <body>
    <div id="header">
      <%= link_to "Blogging Platform", root_path, {:class => "h1"} %>
    </div>
    <div id="main">
      <div id="navigation">
        <h2>Blog Archive</h2>
      	<%= render(:partial => 'layouts/navigation', :locals => {:subjects => @subjects}) %> 
      </div>
      <div id="content">
        <%= yield %>
      </div>
      <div class="clear"></div>
    </div>
    <div id="footer">
      <p id="copyright"><a href="http://kyleande.com">&copy; Kyle Anderson</a></p> 
    </div>
  </body>
</html>
<!-- In order to use this layout, we need to tell it in the controller -->
